@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.main {
  width: auto;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.main-top,
.main-middle,
.main-bottom,
.main-bottom div {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.main-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-middle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.main-bottom div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main-bottom p {
  margin: 0;
}

.main-temp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.main-temp h1 {
  font-size: 55px;
  margin: 0;
  font-weight: 400;
}

.main-temp h3,
.main-temp h5 {
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.icon-location {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.icon-location h5 {
  position: absolute;
  top: 35px;
  font-size: 10px;
  text-align: center;
  white-space: nowrap;
}

.location-input {
  display: flex;
  align-items: center;
  margin: 4px;
  width: 100%;
  border: 2px solid black;
  border-radius: 5px;
  position: relative;
}

.location-input input {
  font-family: "Rubik", sans-serif;
  border: none;
  outline: none;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
  cursor: pointer;
}

.search-icon {
  padding: 2px;
}

#searchBtn {
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

#addPin:hover {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.dropdown::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20px;
  top: 100%;
  left: 0;
}

.dropdown-menu {
  text-wrap: nowrap;
  width: fit-content;
  position: absolute;
  top: calc(100% + 5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 10;
}

.dropdown:hover .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
}

.dropdown-menu button:not(.delete-button):hover {
  transform: translateX(4px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.save-location,
.dropdown-item {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  gap: 8px;
  width: 100%;
  background: white;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
}

.dropdown-icon {
  width: 16px;
  height: 16px;
}

.item-content {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 4px 0;
  flex-grow: 1;
}

.delete-button {
  background: transparent;
  border: none;
  border-radius: 5px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  cursor: pointer;
  padding: 4px 8px;
  margin-left: auto;
  transition: all 0.2s ease;
}

.dropdown-item:hover .delete-button {
  opacity: 1;
}

.delete-button:hover {
  background-color: rgb(255, 156, 156);
}
